* {
//	border: 1px solid red;
}

.container {
	max-width: 800px;
}

img.proj-img{
	display: block;
	max-width: 225px;
	max-height: 175px;
	margin-right: auto;
	margin-left: auto;
	height: 175px;
}

h1.header-title {
	color: #B42525;
	font-size: 30px;
	font-family: 'Special Elite', verdana, helvetica, cursive;
}

h1.proj-title {
	margin-top: 0px;
	font-size: 30px;
	font-family: verdana, helvetica;
}

div.proj-img {
	width: 175px;
	height: 175px;
}

.proj-title {
	text-align: center;

}

nav {
	margin-bottom: 20px;
}

p.proj-description, .proj-description{
	
	margin-right: auto;
	margin-left: auto;
	text-align: justify;
	
}

span.proj-desc-preamble {
	color: #AB1919;
	font-style: italic;
	font-weight: bold;
}

.proj-section img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;

}

.proj-section .col-md-12 *{
	max-width: 560px;
}

.proj-section {
	font-size: 16px;
}

.proj-row {
	margin-bottom: 20px;
}

div.footnote {
	font-size: 10px;
}
div.footnote li {
	list-style-type: none;
}

figure {
	display:block;
	margin-left: auto;
	margin-right: auto;
	
}
iframe.video {
	border: 2px solid black;
}

figure {
	margin-top: 20px;
	margin-bottom: 20px;
}

figcaption {
	text-align: center;
	font-size: 14px;
}

hr {
	margin: 0px;
}

ul.refs {
	padding-left: 0px;
}

.header-title {
	margin-bottom: 5px;
}

.list-inline li {
	font-size: 16px;
	padding-left: 10px;

}

.nav-row {
	margin-bottom: 20px;
}

.proj-name {
	font-size: 17px;
}

a:hover{
	text-decoration: none;
	}

.active a{
	color: #103D65;
	text-decoration: underline;
}